<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title>Личный кабинет</title>
    {% load static %}
	<link rel="stylesheet" href="{% static 'css/style_home.css' %}">
</head>
<body>
<header>
      <nav>
        <ul>
          <li><a href="{% url 'home' %}">Личный кабинет</a></li>
          <li><a href="{% url 'transport' %}">Транспорт</a></li>
          <li><a href="{% url 'personal' %}">Персонал</a></li>
          <li><a href="{% url 'support' %}">Поддержка</a></li>
            {% if user.is_authenticated %}
          <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
            {% else %}
          <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
            {% endif %}
        </ul>
      </nav>
    </header>
 <form action="{% url 'home' %}" method="post">
          {% csrf_token %}
          <div class="form-error">{{form.non_field_errors}}</div>

          {% for f in form %}
          <p>
            <label for="{{f.id_for_label}}" class="form-label">{{f.label}}:</label>
            {{f}}
          </p>
          <div class="form-error">{{f.errors}}</div>
          {% endfor %}

          <button type="submit">Сохранить</button>
        </form>
<table id="AnketaTable">
        <thead>
          <tr>
            <th>Критерий 1</th>
            <th>Критерий 2</th>
            <th>Критерий 3</th>
            <th>Критерий 4</th>
            <th>Критерий 5</th>

          </tr>
        </thead>
        <tbody>
          {% for anketa in anketa %}
          <tr>
            <td>{{anketa.number1}}</td>
            <td>{{anketa.number2}}</td>
            <td>{{anketa.number3}}</td>
            <td>{{anketa.number4}}</td>
            <td>{{anketa.number5}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
<table id="OprosTable">
        <thead>
          <tr>
            <th>date</th>
            <th>text</th>

          </tr>
        </thead>
        <tbody>
            {%for i in opros%}
          <tr>
            <td>{{i.time}}</td>
              <td>{{i.text}}</td>
          </tr>
            {%endfor%}
        </tbody>
      </table>
</body>
</html>
